@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header, footer {
    display: flex;
    padding: 30px 10%;
    background-color: #24252a;
}

li, a, button {

    font-family: 'Arial', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;
}

.logo {
    cursor: pointer;
    border-radius: 50%;
    margin-right: auto;
}   

.nav_links {
    list-style: none;
   
}

.nav_links li {

    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #ACC8E5;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}

#welcome {
    text-align: center;
    padding: 20px;
    max-width: 1224px;
    margin: auto;
    padding: 40px 0;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #424144;



}

.welcome-title {
    color: #333;
}

#welcome-box {
    text-align: center;
    margin-top: 20px;
}

#welcome-img {
    max-width: 100%;
    height: auto;
 
}

.welcome-message {
  text-align: center;
  margin-right: 20px;
  font-size: 15px;

}


.bottom img {
    flex-grow: 1; 
     padding: 20px;
    
}

.homepage-img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
  

.message {
    text-align: justify;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 1rem auto;
    padding: 1rem;
    
}


.text-container {

    text-align: justify;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 1rem auto;
    padding: 1rem;
   
}

footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #24252a;
}

footer ul li {
    text-decoration: none;
}

#f-split {
    display: flex;
}


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }

}






